<div class ="body">
<div class ="body2">
    <div class = "space">
<div class="block">
 <div class="textblock" style = "padding-top: 0;">
  <div class="textblockitem"  style = "padding-top: 0;">
    <img src="/education.png" class="icon" style="width: 2em;" >
    <div class="name"style = "padding-top: 0;">Education</div>
  </div>
  </div>
  <div class="text" style="padding-top: 1.875em;height: 100%; display: flex; align-items: center">

      <div class="education-item">
        <div class="education-title">{{ edu.title }}</div>
        <div class="education-address">{{ edu.address }}</div>
        <div class="education-details">{{ edu.details }}</div>
        <div class="education-date">{{ edu.date }}</div>
    </div>
  </div>
</div>
</div>
</div>
</div>