

body {
    margin: -0.5em; 
}

header {
    padding: 1.25em 7.5em; 
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-color: var(--header-bg);
  color: var(--header-text);
}

.left {
    display: flex;
    gap: 2.5em; 
}

.name {
    font-size: 2.25em;
    font-weight: 500;
    font-family: 'VT323', monospace;
    color: var(--header-text);
}

.nav {
    padding-top: 0.375em; 
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    gap: 1.25em; 
}

.nav a {
    font-size: 1.625em; 
     color: var(--link-color);
    transition: transform 0.3s;
}

.nav a:hover {
    transform: scale(1.05);
}

.button {
    padding-top: 0.5em; 
    width: 3em; 
    cursor: pointer;
    transition: transform 0.3s;
}

.button:hover {
    transform: scale(1.05);
}
