<div class ="body">
<div class ="body2">

    <div class = "all">

<div class="block">
  <img [src]="user.photo" class="photo">
  <div class="name">{{ user.name }}</div>

  <div class="textblock">
    <div class="textblockitem">
      <img src="/user.png" class="icon" />
      <div class="text">{{ user.role |uppercase}}</div>
    </div>
    <div class="textblockitem">
      <img src="/location.png" class="icon" />
      <div class="text">{{ user.location }}</div>
    </div>

    <div class="textblockitem">
      <img src="/email.png" class="icon" />
      <div class="text">{{ user.email |lowercase}}</div>
    </div>
    <div class="textblockitem">
      <img src="/phone.png" class="icon" />
      <div class="text">{{ user.phone }}</div>
    </div>

   <div class="textblockitem">
          <img src="/git.png" class="icon" />
          <a [href]="user.git" target="_blank" rel="noopener">
            <div class="text" style = "font-size: 1.1em;">GitHub</div>
          </a>
        </div>

        <div class="textblockitem">
          <img src="/linkedin.png" class="icon" />
          <a [href]="user.linkedin" target="_blank" rel="noopener">
            <div class="text" style = "font-size: 1.1em;">LinkedIn</div>
          </a>
        </div>
  </div>
</div>

<div>
<div class="block">
     <div class="textblock" style = "padding-top: 0;">
  <div class="textblockitem" style = "padding-top: 0;">
    <img src="/user.png" class="icon" style="width: 2em;" />
    <div class="name" style ="padding-top: 0;">About me</div>
  </div>
  </div>

  <div class="text" style="padding-top: 1.5em;height: 100%; display: flex; align-items: center" [innerHTML]="aboutMe">
  </div>
</div>

<div class = "all2">
<div class="block">
    <div class="textblock" style = "padding-top: 0;">
  <div class="textblockitem"  style = "padding-top: 0;">
    <img src="/soft.png" class="icon" style="width: 2em;" >
    <div class="name"style = "padding-top: 0;">Soft Skills</div>
  </div>
  </div>
    <div class="text" style="padding-top: 1.5em;height: 100%; display: flex; align-items: center" [innerHTML]="softSkills">
  </div>
  </div>

<div class="block">
    <div class="textblock" style = "padding-top: 0;">
  <div class="textblockitem"  style = "padding-top: 0;">
    <img src="/lang.png" class="icon" style="width: 2em;" >
    <div class="name"style = "padding-top: 0;">Languages</div>
  </div>
  </div>
   <div class="text" style="padding-top: 1.5em;height: 100%; display: flex; align-items: center" [innerHTML]="languages">
  </div>
</div>
</div>
</div>
</div>



</div>