.body {
    margin: 0 3.125em;
}

.all {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    gap: 3.125em;
}

.all2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 3.125em;
}

.block {
    margin-top: 1.875em;
    padding: 1.875em;
    background-color: #f1f1f1;
    border-radius: 0.9375em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
}

.block:hover {
    box-shadow: 0 0.5em 0.75em rgba(0, 0, 0, 0.2);
    background-color: #f4f4f4;
}

.photo {
    width: 90%;
    border-radius: 0.9375em;
    align-self: center;
}

.textblock {
    padding-top: 1.875em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.textblockitem {
    display: flex;
    align-items: flex-start;
    gap: 0.75em;
}

.name {
    display: flex;
    align-self: center;
    padding-top: 1.875em;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Share Tech Mono', monospace;
}

.text {
    font-size: 1.25em;
    font-family: 'Chivo', monospace;
}

.icon {
    width: 1em;
    align-self: center;
}

.education-title {
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Share Tech Mono', monospace;
}

.education-address {
    font-size: 1.25em;
    font-family: 'Chivo', monospace;
}

.education-details
{
    font-size: 1.25em;
    font-family: 'Chivo', monospace;
    padding-top: 0.5em;
}

.education-date
{
    font-size: 1.25em;
    font-family: 'Chivo', monospace;
    color: #888888;
    padding-top: 0.5em;
}

a {
  color: #000000;
  text-decoration: none;
  font-size:1.25em;
   font-family: 'Chivo', monospace;
}

a:hover {
  text-decoration: underline;
}
